.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media(max-width:1000px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media(max-width:650px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.card-item {
    background-color: aqua;
    text-align: center;
}